In [1]:
import pandas as pd

In [2]:
df0_9 = pd.read_csv('/opt/data/secc/secc_state0_9_year_ln_outkast.csv.gz', dtype={'n_male': int, 'n_female': int, 'n_sc': int, 'n_st': int, 'n_other': int})
df10_18 = pd.read_csv('/opt/data/secc/secc_state10_18_year_ln_outkast.csv.gz', dtype={'n_male': int, 'n_female': int, 'n_sc': int, 'n_st': int, 'n_other': int})
df = pd.concat([df0_9, df10_18])
df

         state  birth_year   last_name  n_male  n_female  n_sc  n_other  n_st
0            0        1881      chakma       6         0     0        6     0
1            0        1881         eke       6         0     0        0     6
2            0        1883         dui       0         6     0        0     6
3            0        1883         ete       6         0     0        0     6
4            0        1883        kawa       6         0     0        0     6
5            0        1884       dagam       6         0     0        0     6
6            0        1884        riba       6         0     0        0     6
7            0        1885      tabang       6         0     0        0     6
8            0        1887        raje       6         0     0        0     6
9            0        1888         ali       6         0     0        0     6
10           0        1888     mossang       6         0     0        0     6
11           0        1889     singpho       6         0     0        0     6
12           0        1891     chandra       6         0     0        6     0
13           0        1891     chotton       0         6     0        0     6
14           0        1894      chakma       6         0     0        6     0
15           0        1895  bosumotari       0         6     0        6     0
16           0        1895        diru       6         0     0        0     6
17           0        1896      namati       6         0     0        0     6
18           0        1899        duri       6         0     0        0     6
19           0        1901      chader       0         6     0        0     6
20           0        1901      tamang       6         0     0        6     0
21           0        1901        topu       6         0     0        0     6
22           0        1903      chakma       6         0     0        6     0
23           0        1903       jamoh       6         0     0        0     6
24           0        1903       tapok       0         6     0        0     6
25           0        1903       tatin       6         0     0        0     6
26           0        1904      bellai       6         0     0        0     6
27           0        1904         ete       6         0     0        0     6
28           0        1904       taggu       6         0     0        0     6
29           0        1904        take       6         0     0        0     6
...        ...         ...         ...     ...       ...   ...      ...   ...
1725832     18        2011       rajak       6         0     0        6     0
1725833     18        2011         roy      18         0     6       12     0
1725834     18        2011        sahu       3         0     0        3     0
1725835     18        2011       sajal       3         0     0        3     0
1725836     18        2011         sam       3         0     0        3     0
1725837     18        2011      samant       3         0     0        3     0
1725838     18        2011     samanta       3         0     0        3     0
1725839     18        2011        sana       6         0     0        6     0
1725840     18        2011      santar       6         0     0        6     0
1725841     18        2011      santra       6         0     6        0     0
1725842     18        2011      sardar       6         6     0        6     6
1725843     18        2011       saren       6         0     0        0     6
1725844     18        2011      sarkar      15         3    15        3     0
1725845     18        2011         sau       0         3     0        3     0
1725846     18        2011        sekh       3         0     0        3     0
1725847     18        2011        shau       3         0     3        0     0
1725848     18        2011       shekh       6         0     0        6     0
1725849     18        2011     siddika       0         6     0        6     0
1725850     18        2011        sing       0        12     0        0    12
1725851     18        2011       singh       6         0     0        6     0
1725852     18        2011      sorkar       6         0     0        6     0
1725853     18        2011      sufian       6         0     0        6     0
1725854     18        2011     sultana       0         6     0        6     0
1725855     18        2011       surin       3         0     0        3     0
1725856     18        2011       tanti       0         6     0        6     0
1725857     18        2011    tarafdar       6         0     6        0     0
1725858     18        2011     thakuri       3         0     0        3     0
1725859     18        2011       topno       3         0     0        3     0
1725860     18        2011        tudu       0         3     0        0     3
1725861     18        2011       xalxo       3         0     0        3     0

[4764725 rows x 8 columns]

In [3]:
gdf = df.groupby(['last_name']).agg({'n_sc': 'sum', 'n_other': 'sum', 'n_st': 'sum', 'n_male': 'sum', 'n_female': 'sum'}).reset_index()
gdf

       last_name  n_male  n_sc  n_st  n_female  n_other
0           aaba     636    96     3        57      594
1          aabad     342    12     0         6      336
2        aabadar     135     0     0         6      141
3         aabaji     492    60    21        21      432
4         aabale     168     3     0         9      174
5        aabarao     147     9     0         6      144
6          aabas      99     3     0         6      102
7      aabasaheb     246     3     3        21      261
8        aabdeen     186     0     0         3      189
9         aabdin     363     0     0        15      378
10       aabhale      81     0     0        36      117
11       aabhare     195     3     0        18      210
12         aabid    1590     3     0        24     1611
13       aabnave     102    99     0        27       30
14          aabu     105     0     0         9      114
15         aabuj     477     0     0        57      534
16        aachar     123    51     0         3       75
17       aachare      99    21     0        24      102
18       aachari     831     6   207        96      714
19       aachary     993    69    18        75      981
20      aacharya    1203   114    27        99     1161
21        aachre     186     0     0         9      195
22           aad     234     6   222        12       18
23          aada     102     3    69         6       36
24        aadaga     201     0   228        27        0
25      aadagale     315   306     0        51       60
26         aadak     291     0     0        21      312
27        aadake     579    15     6       108      666
28     aadalinge     171     0     0         9      180
29         aadam     639    15     6        90      708
...          ...     ...   ...   ...       ...      ...
76626      zuber     475     0     0         0      475
76627      zugar     111     0     3        21      129
76628     zugare    1419     6  1533       165       45
76629       zuge     177     0     0        12      189
76630      zugre     219     0   231        18        6
76631      zuhra      15     0     0        99      114
76632      zujam     285     0     0        60      345
76633   zulasana     132     0     0         3      135
76634    zulasna     126     0     0         6      132
76635   zulfikar     102     0     0         0      102
76636     zumbar     247    63     6        21      199
76637     zumman     111     6     0         3      108
76638       zumu     114     0   129        15        0
76639     zunaid     144     0     0         0      144
76640    zungare     249    21    33        30      225
76641      zunge      99     0     0         6      105
76642     zunjar     171     3    54        18      132
76643    zunjare     885   636    57        99      291
76644      zunje     147     0     0         6      153
76645      zunza     324     0   111        45      258
76646    zunzare     138   108     3        15       42
76647     zurade     201     0   213        30       18
76648     zurale     276     0     3        48      321
76649    zurange     198     0     0        18      216
76650      zurde     117     0   132        15        0
76651       zure     432     0    75        93      450
76652    zurunge     183     0     0         9      192
76653       zute     303    18    15        21      291
76654      zutso      87     0   129        42        0
76655      zyate     288     0   294        30       24

[76656 rows x 6 columns]

In [4]:
sdf = pd.read_csv('secc_state.csv')
sdf

                state  code
0             haryana     5
1              odisha    11
2               bihar     2
3            nagaland    10
4      madhya pradesh     7
5       uttar pradesh    16
6           rajasthan    13
7   arunachal pradesh     0
8              kerala     6
9             mizoram     9
10              assam     1
11          tamilnadu    15
12             sikkim    14
13        uttarakhand    17
14             punjab    12
15       chhattisgarh     3
16            gujarat     4
17        maharashtra     8
18        west bengal    18

In [5]:
odf = df.rename(columns={'state': 'code'}).merge(sdf)
del odf['code']
odf

,birth_year,last_name,n_male,n_female,n_sc,n_other,n_st,state
0,1881,chakma,6,0,0,6,0,arunachal pradesh
1,1881,eke,6,0,0,0,6,arunachal pradesh
2,1883,dui,0,6,0,0,6,arunachal pradesh
3,1883,ete,6,0,0,0,6,arunachal pradesh
4,1883,kawa,6,0,0,0,6,arunachal pradesh
5,1884,dagam,6,0,0,0,6,arunachal pradesh
6,1884,riba,6,0,0,0,6,arunachal pradesh
7,1885,tabang,6,0,0,0,6,arunachal pradesh
8,1887,raje,6,0,0,0,6,arunachal pradesh
9,1888,ali,6,0,0,0,6,arunachal pradesh
10,1888,mossang,6,0,0,0,6,arunachal pradesh
11,1889,singpho,6,0,0,0,6,arunachal pradesh
12,1891,chandra,6,0,0,6,0,arunachal pradesh
13,1891,chotton,0,6,0,0,6,arunachal pradesh
14,1894,chakma,6,0,0,6,0,arunachal pradesh
15,1895,bosumotari,0,6,0,6,0,arunachal pradesh
16,1895,diru,6,0,0,0,6,arunachal pradesh
17,1896,namati,6,0,0,0,6,arunachal pradesh
18,1899,duri,6,0,0,0,6,arunachal pradesh
19,1901,chader,0,6,0,0,6,arunachal pradesh
20,1901,tamang,6,0,0,6,0,arunachal pradesh
21,1901,topu,6,0,0,0,6,arunachal pradesh
22,1903,chakma,6,0,0,6,0,arunachal pradesh
23,1903,jamoh,6,0,0,0,6,arunachal pradesh
24,1903,tapok,0,6,0,0,6,arunachal pradesh
25,1903,tatin,6,0,0,0,6,arunachal pradesh
26,1904,bellai,6,0,0,0,6,arunachal pradesh
27,1904,ete,6,0,0,0,6,arunachal pradesh
28,1904,taggu,6,0,0,0,6,arunachal pradesh
29,1904,take,6,0,0,0,6,arunachal pradesh
...,...,...,...,...,...,...,...,...
4764695,2011,rajak,6,0,0,6,0,west bengal
4764696,2011,roy,18,0,6,12,0,west bengal
4764697,2011,sahu,3,0,0,3,0,west bengal
4764698,2011,sajal,3,0,0,3,0,west bengal
4764699,2011,sam,3,0,0,3,0,west bengal
4764700,2011,samant,3,0,0,3,0,west bengal
4764701,2011,samanta,3,0,0,3,0,west bengal
4764702,2011,sana,6,0,0,6,0,west bengal
4764703,2011,santar,6,0,0,6,0,west bengal
4764704,2011,santra,6,0,6,0,0,west bengal
4764705,2011,sardar,6,6,0,6,6,west bengal
4764706,2011,saren,6,0,0,0,6,west bengal
4764707,2011,sarkar,15,3,15,3,0,west bengal
4764708,2011,sau,0,3,0,3,0,west bengal
4764709,2011,sekh,3,0,0,3,0,west bengal
4764710,2011,shau,3,0,3,0,0,west bengal
4764711,2011,shekh,6,0,0,6,0,west bengal
4764712,2011,siddika,0,6,0,6,0,west bengal
4764713,2011,sing,0,12,0,0,12,west bengal
4764714,2011,singh,6,0,0,6,0,west bengal
4764715,2011,sorkar,6,0,0,6,0,west bengal
4764716,2011,sufian,6,0,0,6,0,west bengal
4764717,2011,sultana,0,6,0,6,0,west bengal
4764718,2011,surin,3,0,0,3,0,west bengal
4764719,2011,tanti,0,6,0,6,0,west bengal
4764720,2011,tarafdar,6,0,6,0,0,west bengal
4764721,2011,thakuri,3,0,0,3,0,west bengal
4764722,2011,topno,3,0,0,3,0,west bengal
4764723,2011,tudu,0,3,0,0,3,west bengal
4764724,2011,xalxo,3,0,0,3,0,west bengal

In [6]:
cols = ['state', 'birth_year', 'last_name', 'n_female', 'n_male', 'n_sc', 'n_st', 'n_other']
odf[cols].to_csv('/opt/data/secc/secc_all_state_year_ln_outkast.csv.gz', index=False, compression='gzip')

In [7]:
odf[cols]

,state,birth_year,last_name,n_female,n_male,n_sc,n_st,n_other
0,arunachal pradesh,1881,chakma,0,6,0,0,6
1,arunachal pradesh,1881,eke,0,6,0,6,0
2,arunachal pradesh,1883,dui,6,0,0,6,0
3,arunachal pradesh,1883,ete,0,6,0,6,0
4,arunachal pradesh,1883,kawa,0,6,0,6,0
5,arunachal pradesh,1884,dagam,0,6,0,6,0
6,arunachal pradesh,1884,riba,0,6,0,6,0
7,arunachal pradesh,1885,tabang,0,6,0,6,0
8,arunachal pradesh,1887,raje,0,6,0,6,0
9,arunachal pradesh,1888,ali,0,6,0,6,0
10,arunachal pradesh,1888,mossang,0,6,0,6,0
11,arunachal pradesh,1889,singpho,0,6,0,6,0
12,arunachal pradesh,1891,chandra,0,6,0,0,6
13,arunachal pradesh,1891,chotton,6,0,0,6,0
14,arunachal pradesh,1894,chakma,0,6,0,0,6
15,arunachal pradesh,1895,bosumotari,6,0,0,0,6
16,arunachal pradesh,1895,diru,0,6,0,6,0
17,arunachal pradesh,1896,namati,0,6,0,6,0
18,arunachal pradesh,1899,duri,0,6,0,6,0
19,arunachal pradesh,1901,chader,6,0,0,6,0
20,arunachal pradesh,1901,tamang,0,6,0,0,6
21,arunachal pradesh,1901,topu,0,6,0,6,0
22,arunachal pradesh,1903,chakma,0,6,0,0,6
23,arunachal pradesh,1903,jamoh,0,6,0,6,0
24,arunachal pradesh,1903,tapok,6,0,0,6,0
25,arunachal pradesh,1903,tatin,0,6,0,6,0
26,arunachal pradesh,1904,bellai,0,6,0,6,0
27,arunachal pradesh,1904,ete,0,6,0,6,0
28,arunachal pradesh,1904,taggu,0,6,0,6,0
29,arunachal pradesh,1904,take,0,6,0,6,0
...,...,...,...,...,...,...,...,...
4764695,west bengal,2011,rajak,0,6,0,0,6
4764696,west bengal,2011,roy,0,18,6,0,12
4764697,west bengal,2011,sahu,0,3,0,0,3
4764698,west bengal,2011,sajal,0,3,0,0,3
4764699,west bengal,2011,sam,0,3,0,0,3
4764700,west bengal,2011,samant,0,3,0,0,3
4764701,west bengal,2011,samanta,0,3,0,0,3
4764702,west bengal,2011,sana,0,6,0,0,6
4764703,west bengal,2011,santar,0,6,0,0,6
4764704,west bengal,2011,santra,0,6,6,0,0
4764705,west bengal,2011,sardar,6,6,0,6,6
4764706,west bengal,2011,saren,0,6,0,6,0
4764707,west bengal,2011,sarkar,3,15,15,0,3
4764708,west bengal,2011,sau,3,0,0,0,3
4764709,west bengal,2011,sekh,0,3,0,0,3
4764710,west bengal,2011,shau,0,3,3,0,0
4764711,west bengal,2011,shekh,0,6,0,0,6
4764712,west bengal,2011,siddika,6,0,0,0,6
4764713,west bengal,2011,sing,12,0,0,12,0
4764714,west bengal,2011,singh,0,6,0,0,6
4764715,west bengal,2011,sorkar,0,6,0,0,6
4764716,west bengal,2011,sufian,0,6,0,0,6
4764717,west bengal,2011,sultana,6,0,0,0,6
4764718,west bengal,2011,surin,0,3,0,0,3
4764719,west bengal,2011,tanti,6,0,0,0,6
4764720,west bengal,2011,tarafdar,0,6,6,0,0
4764721,west bengal,2011,thakuri,0,3,0,0,3
4764722,west bengal,2011,topno,0,3,0,0,3
4764723,west bengal,2011,tudu,3,0,0,3,0
4764724,west bengal,2011,xalxo,0,3,0,0,3